body{
    color: #1d1d1d;
}

/* css grid */

/* Mobile */
.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    "header header header"
    "main main main"
    "sidebar sidebar sidebar"
    "footer footer footer";
    grid-gap: 15px;
    max-width: 960px;
    margin: 0 auto;
}

/* Desktop */
@media only screen and (min-width: 769px){ 
    .wrapper{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas:
        "header header header header header header header header header header header header"
        "main main main main main main main main sidebar sidebar sidebar sidebar"
        "footer footer footer footer footer footer footer footer footer footer footer footer";
        grid-gap: 15px;
        max-width: 960px;
        margin: 0 auto;
    }
     
}

header{
    grid-area: header;
    background: rgb(75, 75, 75);
    color: #dfdfdf;
}

footer{
    grid-area: footer;
    background: rgb(75, 75, 75);
    color: #dfdfdf;
    min-height: 200px;
}

main{
    grid-area: main;
    background: #eeeded;
}

header, footer, main, .sidebar{
    padding: 30px;
}


.sidebar{
    grid-area: sidebar;
    background: #c9daf0;
}

/* Header and Nav */

header nav ul{
    display: flex;
    list-style: none;
}

header nav ul li{
    flex: 0;
}
nav a{
    margin-right: 10px;
    color: #62b5d3;
    transition: all, 0.5s;
}

nav a:hover{
    color: #c1e3ee;
    text-decoration: none;
}

/* Add or overwrite bootstrap stuff */
.card{
    margin-bottom: 50px !important;
}

ul.list-group{
    margin-bottom: 30px;
}
